@CHARSET "ISO-8859-1";

.test {
	margin-top: 70px;
	margin-left: 20px;
	position: relative;
}

#padding_section_1, #padding_section_2, #padding_section_3,
	#padding_section_4 {
	display: block;
	height: 40px;
	margin-top: -40px;
	visibility: hidden;
}

div.col-sm-9 div {
	font-size: 20px;
}

@media screen and (max-width: 810px) {
	.test {
		margin: 0px;
		margin-top: 70px;
		position: relative;
	}
}