/*
 text editing
*/
.footer-distributed p {
	color: white;
	font: bold 13px sans-serif;
	text-align: center;
	line-height: 20px;
	letter-spacing: 2px;
}

/* 
 footer background color and top/bottom padding
*/
.footer-distributed {
	background-color: #292c2f;
	padding-top: 10px;
	padding-bottom: 10px;
}