@CHARSET "ISO-8859-1";

/*
 text editing
*/
.footer .footer-distributed p {
	color: white;
	font: bold 13px sans-serif;
	text-align: center;
	line-height: 20px;
	letter-spacing: 2px;
}

/* 
 footer background color and top/bottom padding
*/
.footer .footer-distributed {
	background-color:#202020;
	padding-top: 10px;
	padding-bottom: 10px;
	
}