@CHARSET "ISO-8859-1";

/*
 Change color of text-logo
*/
.navbar-header .navbar-brand {
	color: #66a3ff;
}
/*
 To set top margin for search button and text-logo
*/
.header_margin {
	margin-top: 7px;
}

/*
 To set top and botton margin for header buttons 
*/
.header_button_margin {
	margin-top: 15px;
	margin-left: 30px;
}