//
to remove any pre-defined padding in for navigation bar

.header .navbar, .header .navbar-inverse {
	padding: 0px;
	margin: 0px;
}

#headerDropNav {
	margin-top: 40px;
}

@media only screen and (max-width: 766px) {
	#headerDropNav {
		margin-top: 270px;
		
	}
}

 .affix {
      top: 0;
      width: 100%;
  }
