@CHARSET "ISO-8859-1";

@media screen and (min-width: 700px) {
	.search_main {
		margin-left: 80px;
	}
}

.search_main {
	
	margin-top: 80px;
	margin-bottom: 100px;

}

.search_main .hr_main {
	background-color: black;
	border: 0 none;
	color: black;
	height: 2px;
	margin: 0px;
}

.search_main .text-primary .glyphicon-search {
	font-size: 22px;
}

.search_main .row .col-sm-7 p {
	font-size: 13.5px;
	margin: 0px;
	padding: 0px;
}

.search_main .row .col-sm-7 h4 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}